# dependencies
node_modules
jspm_packages/
.pnp
.pnp.js

# testing
coverage
.nyc_output

# build
dist
build
lib
*.tsbuildinfo

# misc
.DS_Store
*.pem
.idea
.vscode

# module formats
*.umd.js
*.esm.mjs
*.modern.mjs
*.cjs
*.min.js

# source maps
*.map

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
/lerna-debug.log
/.changeset/

*storybook.log
